@model Rezerwacja

<form id="payment-form" method="post" asp-action="Rezerwuj" style="width:80vw;">
    <input hidden asp-for="Numer" class="form-control" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Podsumowanie rezerwacji</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Data"></label>
            <input type="date" asp-for="Data" disabled class="form-control" />
            <input type="date" asp-for="Data" hidden class="form-control" />
        </div>
        <div class="mb-3">
            <select disabled asp-for="TorId" class="form-control">
                <option value="">--Tor--</option>
                <option value="1">Kryty</option>
                <option value="2">Odkryty</option>
            </select>
            <input hidden asp-for="TorId" />
        </div>
        <div class="mb-3">
            <label asp-for="LiczbaOsob"></label>
            <input disabled type="number" asp-for="LiczbaOsob" class="form-control" />
            <input hidden type="number" asp-for="LiczbaOsob" />
        </div>
        <div class="mb-3">
            <label asp-for="Czas"></label>
            <input asp-for="Czas" disabled class="form-control" />
            <input asp-for="Czas" hidden class="form-control" />
        </div>
        <div class="mb-3">
            <label>Wybrana godzina</label>
            <input value="@Model.Godzina.Substring(1):00" disabled class="form-control" />
            <input hidden asp-for="Godzina" />
        </div>
        <div>
            <input disabled name="spalinowe" value=@ViewData["Spalinowe"] class="form-select" />
            <input disabled name="elektryczne" value=@ViewData["Elektryczne"] class="form-select" />
            <input disabled name="dla_dzieci" value=@ViewData["DlaDzieci"] class="form-select" />
        </div>
        <div class="mb-3">
            <label asp-for="DodatkoweSzkolenia"></label>
            <input disabled class="form-check-input" type="checkbox" asp-for="DodatkoweSzkolenia" />
        </div><div class="mb-3">
            <label asp-for="Zaliczka"></label>
            <input disabled class="form-check-input" type="checkbox" asp-for="Zaliczka" />
        </div>
        <input asp-for="KlientNumer" class="form-control" hidden value=@User.Claims.FirstOrDefault(c => c.Type == "Numer").Value />
    </div>
    <section>
        <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
        </div>
    </section>
    <input hidden name="nonce" id="nonce" value=""/>
    <a asp-controller=@User.Claims.FirstOrDefault(c => c.Type == "Role").Value asp-action="Rezerwuj1" class="btn btn-secondary" style="width:150px">
        Powrót
    </a>
    <button type="submit" class="btn btn-primary float-end" style="width:150px">Zapłać</button>

</form>
<br />
<script src="https://js.braintreegateway.com/web/dropin/1.33.7/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        locale: 'pl_PL'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    return;
                }

                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
