@model Rezerwacja

<form method="post" asp-action="Rezerwuj2" class="w-75">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Utwórz rezerwację</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Data"></label>
            <input type="date" asp-for="Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select asp-for="TorId" class="form-control">
                <option value="">--Tor--</option>
                <option value="1">Kryty</option>
                <option value="2">Odkryty</option>
            </select>
            <span asp-validation-for="TorId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LiczbaOsob"></label>
            <input type="number" value="1" asp-for="LiczbaOsob" class="form-control" />
            <span asp-validation-for="LiczbaOsob" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Czas"></label> (liczba godzin)
            <input type="number" value="1" asp-for="Czas" class="form-control" />
            <span asp-validation-for="Czas" class="text-danger"></span>
        </div>
        <input hidden asp-for="Godzina" value="8:00"/>

        <input hidden class="form-check-input" type="checkbox" asp-for="DodatkoweSzkolenia"/>

        <input hidden class="form-check-input" type="checkbox" asp-for="Zaliczka"/>

        <input asp-for="KlientNumer" class="form-control" hidden value=@User.Claims.FirstOrDefault(c => c.Type == "Numer").Value />
    </div>
        <a asp-controller=@User.Claims.FirstOrDefault(c => c.Type == "Role").Value asp-action="Index" class="btn btn-secondary" style="width:150px">
            Wróć
        </a>
        <button type="submit" class="btn btn-primary float-end" style="width:150px">Dalej</button>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
