@model Klient
@{
    ViewData["Title"] = "Rejestracja";
}

<form method="post" asp-action="Register3">
    <div class="border p-3 mt-4 mb-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kod aktywacyjny</h2>
            <hr />
            <input hidden asp-for="Email" />
            <input hidden asp-for="Imie" />
            <input hidden asp-for="Nazwisko" />
            <input hidden asp-for="Telefon" />
            <input hidden asp-for="Haslo" />
        </div>
        <div class="mb-3">
            Wysłaliśmy do Ciebie wiadomość z kodem aktywacyjnym. 
            Sprawdź swoją skrzynkę pocztową i wpisz kod poniżej.
            <input name="code" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Utwórz</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Wróć
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
