@model Serwis

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Dodaj serwis</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="GokartNumer"></label>
            <input asp-for="GokartNumer" class="form-control" />
            <span asp-validation-for="GokartNumer" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Usterka"></label>
            <input asp-for="Usterka" class="form-control" />
            <span asp-validation-for="Usterka" class="text-danger"></span>
        </div>
        <input asp-for="InstruktorId" value="@User.Claims.FirstOrDefault(c => c.Type == "Numer").Value" hidden />
        <button type="submit" class="btn btn-primary" style="width:150px">Zapisz</button>
        <a asp-controller=@User.Claims.FirstOrDefault(c => c.Type == "Role").Value asp-action="ListaSerwisow" class="btn btn-secondary" style="width:150px">
            Wróć
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
