@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <a class="btn btn-primary" asp-area="" asp-controller="Klient" asp-action="Rezerwuj1">
        Rezerwuj
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Klient" asp-action="ListaRezerwacji">
        Lista rezerwacji
    </a>
</div>
