@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container pt-5" style="max-width: 1100px; text-align: justify; font-size: 1.5rem;">
    
    <p style="text-indent: 1.5em;">
        Nasz tor znajduje się na terenie dawnego kamieniołomu w rejonie podkarpackim. 
        Składa się z dwóch torów — jednego odkrytego o długości 5,5 km i drugiego umiejscowionego w budynku o długości 2 km. 
        Tory korzystają ze specjalnych zabezpieczeń w postaci band ochronnych zmniejszających ryzyko urazów w przypadku kolizji. Szczególnie niebezpieczne odcinki są dodatkowo zabezpieczone. 
        Na nawierzchni położony jest wytrzymały asfalt bitumiczny zapewniający lepszą przyczepność. W sezonie letnim kryty tor jest klimatyzowany, a w sezonie zimowym ogrzewany.
    </p>
    <div class="text-center" style="padding:5%;">
        <img src="../../img/gokarty.jpg" class="m-auto" style="max-width: 90%;" />
    </div>
    
    <p style="text-indent: 1.5em;">
        Współpracujemy z kręgielnią z 6 torami oraz z niewielką restauracją znajdującą się na terenie obiektu. 
        Obok torów znajdują się trybuny, z których można oglądać wyścigi gokartów.
        Pojazdy przechowywane są w dużym garażu, z którego mogą szybko zostać wyprowadzone na tor.
        Przed obiektem wyznaczony jest duży strzeżony parking, na którym klienci mogą bez przeszkód zostawić auta. 
    </p>
    <p style="text-indent: 1.5em;">
        W skład stale powiększającej się floty wchodzi 40 nowoczesnych pojazdów 
        — 10 elektrycznych przeznaczonych dla zaawansowanych użytkowników oraz 30 spalinowych — w tym 10 dla dzieci (dwuosobowych) i 20 dla dorosłych. 
    </p>
</div>
