
@{
    ViewData["Title"] = "Kontakt";
}


<div class="border p-3 mt-4 m-auto" style="width:250px;">
    <h1>Kontakt</h1>
    <div>
    telefon:
    </br>        
    123-456-789
    </div>
    <div class="table-group-divider">
    stacjonarny:
    </br>
    22 60 123 45
    </div>
    <div class="table-group-divider">
    email:
    </br>
    kontakt@happywheels.pl
    </div>
                
</div>

