@model Pracownik
@{
    ViewData["Title"] = "Zmiana hasła";
}

<h1>EdytujKonto</h1>
<div class="text-center">
    <form method="post" asp-action="ChangePassword">
        <input hidden asp-for="Id" />
        <input hidden asp-for="Email" />
        <input hidden asp-for="Haslo" />
        <input hidden asp-for="Imie" />
        <input hidden asp-for="Nazwisko" />
        <input hidden asp-for="Telefon" />
        <input hidden asp-for="Stanowisko" />
        <label>Stare hasło</label>
        <input type="password" class="form-control" name="pass" />
        <label>Nowe hasło</label>
        <input type="password" class="form-control" name="pass1" />
        <label>Potwierdź nowe hasło</label>
        <input type="password" class="form-control" name="pass2" />
        <input type="submit" class="btn btn-primary float-end m-2 w-25 p-2" value="Zapisz" />
        <a class="btn btn-secondary m-2 float-start w-25 p-2" asp-action="WyswietlKonto" asp-route-id="@Model.Id">Wróć</a>
    </form>
</div>

