@model VMPracownik;
@{
    ViewData["Title"] = "Login";
}

<div class="card-body p-2">
    <div class="d-flex flex-row justify-content-center">
        <div style="margin: auto; width:30vw;" class="text-center">
            <br />
            <br />
            <h1>Zaloguj</h1>
            <br />
            <form asp-controller="PracownikAccess" asp-action="Login" method="post">
                <input type="text" placeholder="Numer pracownika" asp-for="Id" class="form-control m-1 w-100 d-flex" />
                <input type="password" placeholder="Hasło" asp-for="Haslo" class="form-control w-100 m-1" />

                <label>
                    <input class="form-check-input" type="checkbox" asp-for="KeepLoggedIn" />
                    Nie wylogowuj mnie.
                </label>
                <button class="btn btn-primary" type="submit">Zaloguj</button>

                @if (ViewData["ValidateMessage"] != null)
                {
                    <br />
                    <br />
                    <label class="alert-danger">@ViewData["ValidateMessage"]</label>
                }
            </form>
        </div>

    </div>
</div>

