@model Harmonogram
@{
    ViewData["Title"] = "Harmonogram";
}

<div class="border m-auto table-responsive" style="max-width:91vw">
    <div class="row pb-2">
        <h2 class="text-primary">Harmonogram od @Model.OdKiedy</h2>
        <hr />
    </div>
    <div>
        @{var base64 = Convert.ToBase64String(Model.ListaGodzin);}
        @{var img = string.Format("data:image/jpg;base64,{0}", base64);}
        <img src="@img" />
    </div>
    <br />
    <a asp-controller="Kasjer" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Wróć
    </a>
</div>