<!DOCTYPE html>
﻿@{
    ViewData["Title"] = "Panel kasjera";
}


<div class="container border-1 d-grid gap-3" style="width:80vw;text-align:center;">
<h1>KASJER</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Kasjer" asp-action="ListaKlientow" style="font-size:100%">
        <i class="bi bi-person-lines-fill"></i>
        Lista klientów
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kasjer" asp-action="ListaRejestr" style="font-size:100%">
        <i class="bi bi-book-half"></i>
        Rejestr prac
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kasjer" asp-action="Harmonogram" style="font-size:100%">
        <i class="bi bi-calendar-week-fill"></i>
        Harmonogram
    </a>
</div>
    

