@model RejestrPrac
@{
    ViewData["Title"] = "Szczegóły wpisu w rejestrze prac";
}

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Wpis numer @Model.Id</h2>
        <hr />
    </div>
    <div class="mb-3">
        Data: @Model.Data
    </div>
    <div>
        Wykonana praca: <br />
        @Model.WykonanaPraca
    </div>
    <br />
    <a asp-controller="Kasjer" asp-action="ListaRejestr" class="btn btn-secondary" style="width:150px">
        Wróć
    </a>
</div>