
﻿@{
    ViewData["Title"] = "Panel kierownika";
}

<div class="container border-1 d-grid gap-3" style="width:80vw;text-align:center;">
    <h1>Kierownik</h1>

    

    
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="ListaPracownikow" style="font-size:100%">
        <i class="bi bi-people-fill"></i>
        Lista pracowników
    </a>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="ListaGokartow" style="font-size:100%">
        <i class="bi bi-car-front-fill"></i>
        Lista gokartów
    </a> 
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="ListaTorow" style="font-size:100%">
        <i class="bi bi-sign-merge-right-fill"></i>
        Lista torów
    </a>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="ListaRejestr" style="font-size:100%">
        <i class="bi bi-book-half"></i>
        Rejestr prac
    </a>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="ListaKlientow" style="font-size:100%">
        <i class="bi bi-person-lines-fill"></i>
        Lista klientów
    </a>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="ListaHarmonogram" style="font-size:100%">
        <i class="bi bi-calendar-week-fill"></i>
        Harmonogram
    </a>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="Cennik" style="font-size:100%">
        <i class="bi bi-currency-dollar"></i>
        Cennik
    </a>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Kierownik" asp-action="Magazyn" style="font-size:100%">
        <i class="bi bi-box-seam-fill"></i>
        Magazyn
    </a>
    <br />
</div>


