
﻿@{
    ViewData["Title"] = "Panel kierownika";
}

<div class="container border-1 d-grid gap-3" style="width:80vw;text-align:center;">
    <h1>Kierownik</h1>

    

    
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaPracownikow">
        Lista pracowników
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaGokartow">
        Lista gokartów
    </a> 
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaTorow">
        Lista torów
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaRejestr">
        Rejestr prac
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaKlientow">
        Lista Klientów
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaHarmonogram">
        Harmonogram
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="Cennik">
        Cennik
    </a>
</div>


