@{
    ViewData["Title"] = "Panel kierownika";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel kierownika</title>
</head>
<body>
    <h1>Witam kierownika</h1>
    <div class="container border-1">
        <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaPracownikow">
            Lista pracowników
        </a>
        <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaGokartow">
            Lista gokartów
        </a> 
        <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaTorow">
            Lista torów
        </a>
        <a class="btn btn-primary" asp-area="" asp-controller="Kierownik" asp-action="ListaRejestr">
            Rejestr prac
        </a>
    </div>
</body>
</html>
